/* width */
::-webkit-scrollbar {
  display: block;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4D4C4C;
  height: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777777;
  border: hidden;
  border-radius: 10px;
  max-height: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ababab;
  max-height: 50px;
}
