/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* For the whole document */
html {
  font-family: 'Quicksand';
  color: #FFFFFF;

  background-color: #4D4C4C;
}


/* Header */
header {
  background: #363636;

  padding: 20px;

  border: hidden;
  border-radius: 10px
}

.header {
  display: inline-block;
  margin: 10px;
}

h1.header {
  font-size: 64px;
}
